# Genel
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
**/bin/
**/obj/
**/Debug/
**/Release/

# Rider / VS / VSCode
.vs/
.idea/
.vscode/

# .NET
*.log
*.vspscc
*.vssscc

# Paketler
**/packages/
*.nupkg

# Angular / Node
turkisheco-frontend/node_modules/
turkisheco-frontend/dist/
turkisheco-frontend/.angular/

# Çeşitli
*.DS_Store
Thumbs.db
